body{
  background: linear-gradient(90deg, rgba(106,106,106,1) 0%, rgba(168,43,43,1) 99%);
}

#title{
    color: #111;
    font-family: 'Games', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 10%;
    text-align: center; 
}
#count{
    position: center;
    border: 3px solid black;
    padding: auto;
}

.holders {
    height: 100%;
    width: 50%;
    position: absolute;
    padding-top: 20px;
    font-size: 28px;
    font-family: 'Games', sans-serif;
  }
.left {
  top:36%;
  right: 70%;
  height: 300px;
  width: 300px;
  text-align: center;
}

.right {
  top: 36%;
  left: 70%;
  height: 300px;
  width: 300px;
  text-align: center;

}
#pa {
    padding: 1%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    text-align: center;
    font-family: 'Games', sans-serif;
  }
  
  #pa:hover {background-color: black}
  
  #pa:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #again{
      text-align: center;
  }
  #message{
      text-align: center;
  }
  .buttons{
      text-align: center;
      margin-top: 150px;
      margin-top: 4%;
  }
  #choice{
    margin: 3% 2%;
    text-align: center;
    text-align: center;
    font-family: 'Games';
    font-size: 20px
  }
  

  .clickers {
    padding: 1% 2%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Games', sans-serif;
  
  }
  
  .clickers:hover {background-color: black}
  
  .clickers:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #user{
    border-radius: 75%;
    left :30px  ;
    width : 220px;
    height: 220px;
  }
  #computer{
    border-radius: 75%;
    left :30px  ;
    width : 220px;
    height: 220px;
  }

  .mychoice {
margin-left:20%;
  }
  #count{
    width:5%;
    border-radius: 30%;
    padding:0.5%;
    margin-left: 46.5%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Games';
    font-size: 110%;
  }
  
 
  #mg{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }
  #reset{
    padding:.5%;
    margin: 1%;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: black;
    border-radius: 20%;
    box-shadow: 0px 8px #999;
    font-family: 'Games', sans-serif;
  

  }
  #reset:hover {background-color: black}
  
  #reset:active {
    background-color: red;
    box-shadow: 0 1% #666;
    transform: translateY(4px);
  }
 
.score{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  
}
  