body{
  background: linear-gradient(90deg, rgba(106,106,106,1) 0%, rgba(168,43,43,1) 99%);
}

#title{
    color: #111;
    font-family: 'Games', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center; 
}
#count{
    position: center;
    border: 3px solid black;
}

.holders {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 28px;
    font-family: 'Games', sans-serif;
  }
.left {
  top:220px;
  left:200px;
  height: 300px;
  width: 300px;
  text-align: center;
}

.right {
  top: 220px;
  right: 220px;
  height: 300px;
  width: 300px;
  text-align: center;

}
#pa {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    text-align: center;
    font-family: 'Games', sans-serif;
  }
  
  #pa:hover {background-color: black}
  
  #pa:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #again{
      text-align: center;
  }
  #message{
      text-align: center;
  }
  .buttons{
      text-align: center;
      margin-top: 300px;
  }
  #choice{
    margin-top: 25px;
    text-align: center;
  }
  .clickers {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Games', sans-serif;
  
  }
  
  .clickers:hover {background-color: black}
  
  .clickers:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #user{
    border-radius: 75%;
    left :30px  ;
    width : 220px;
    height: 220px;
  }
  #computer{
    border-radius: 75%;
    left :30px  ;
    width : 220px;
    height: 220px;
  }

  .mychoice {
margin-left:20%;
  }
  #count{
  
  }
  